.container, 
.container-fluid, 
.container-xl, 
.container-lg, 
.container-md, 
.container-sm {
    padding-left: 24px;
    padding-right: 24px;
}

.bd{
    &__bottom{
        border-bottom: 4px;
        border-style: solid;
        transform: translateY(-50%);
        &--primary{
            border-color: $color-primary;
        }
    }
}